.main-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
a {
  color: white;
  margin-left: 20px;
}
